
.MainHeader {
	color: white;
	background-color: #262626;
	text-align: center;
	height: 200px;
	width 300px;
	padding-top: 25px;
  
  }
.PersonalProfile {
	
}
.contactinformation {
	
}

.Education {
}

.Skills {
	
}

.Skills {
	
}

p {

}
body{
	font-family: 'Basic', sans-serif;
}

