
.MainHeader {
	color: white;
	background-color: #262626;
	text-align: center;
	height: 200px;
	width 300px;
	padding-top: 25px;
  
  }
  .MainHeader h1 {
	  font-size: 40px;
  }
  .MainHeader p {
	 position: relative;
	 left: 27px;
  }
.PersonalProfile {
	
}
.contactinformation {
	
}

.Education {
}

.Skills {
	
}

.Skills {
	
}

p {

}
body{
	font-family: 'Basic', sans-serif;
}

