
.MainHeader {
	color: white;
	background-color: #262626;
	text-align: center;
	height: 200px;
	width 300px;
	padding-top: 25px;
	margin-bottom: 0px;
  
  }
  .MainHeader h1 {
	  font-size: 40px;
  }
  .MainHeader p {
	 position: relative;
	 left: 37px;
  }
.PersonalProfile {
	
	padding-left: 50px;
	padding-top: 7px;
	margin-top: 0px;
	border-top: 10px
	
}
.PersonalProfile p {
	font-size: 15px;
}
.contactinformation {
	padding-left: 50px;
	position: relative;
	bottom:150px;
	
}
.contactinformation p {
	font-size: 15px;
}
.Education {
	padding-left: 50px;
	position:relative;
	bottom: 100px;
}
.Education p {
	font-size: 15px;
}
.Skills {
	text-align: right;
	margin-left: 0px;
	padding-right: 20px;
	position: relative;
	bottom: 165px;
}
.Skills p {
	font-size: 15px;
}
.Skills h3 {
	padding-right: 250px;
}
.WorkExperience {
	text-align: right;
	position: relative;
	bottom: 150px;
	
}
.WorkExperience p {
	font-size: 15px;
}
.WorkExperience h3 {
	padding-right: 175px;
}
p {

}
body{
	font-family: 'Basic', sans-serif;
}
.RightSide {
	
}

